.{
    .name = .{{ project_slug }},
    .version = "0.1.0",
    .fingerprint = 0xf2a356037ad86fe4, // Regenerate for published packages.
    .minimum_zig_version = "0.16.0",
    .dependencies = .{},
    .paths = .{
        "build.zig",
        "build.zig.zon",
        "src",
    },
}
